body{
    
    

    background-color:khaki;
    margin-left: 50px;
    border-inline: 10px;
    background: url("../HTML/istockphoto-1059063156-612x612.jpg");
    color:black;
    font-size: 25px;
    background-size:   1400px 700px;
     
    
    
}

h1{
    color: blanchedalmond;

}