body{
    background-color:khaki;
    margin-left: 50px;
    border-inline: 15px;
    background: url("../css/photo-1611892440504-42a792e24d32.jpg");
    
}
header{
    padding-bottom: 0;
    color:white;
    text-transform: uppercase;
    text-shadow:30px;
    font-size: 20px;
font-family: 'Rampart One', cursive;
}
h1{
    text-shadow: 2px 2px;
    box-shadow:white;
    padding-top:2px;
    padding-bottom: 1px;
} 

.hr{
   color: black;
} 

#seconbox{
    border-color:black;
    border-style: solid;
    padding: 15px;
    width: 700px;
    height: 200px;
    color:gold;
    background-color:rgb(63, 22, 22);
}
#firstbox{
   display: flex;
   flex-direction: row;
   border-color: black;
   border-width: 2px;
    
   

}


p{
    border-color: black;
    border-style: solid;
    padding: 15px;
    width: 300px;
    height: 200px;
    color:gold;
    padding-left: 50px;
    background-color: rgb(63, 22, 22);
}
img{
    height: 250px;
    width: 300px;
    border-color:black;
    border-width: 30px;
    padding-top: 10px;
    padding-left: 15px;
}

ul{
    margin-top:2px;
    padding-top: 2px;
    list-style: none;
    background-color:grey;
    height: 35px;
    height: 35px;
    width: 1000px;
}
li{
    float: left;
    border-right: 1px blue;
}
a{
    display:block;
    padding: 1px 5px 5px 5px;
    color: yellow;
}
#image-txt{
    display:block;

}






