<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../css/Gallery.css">

    
</head>
<body>
  <h1>Gallery</h1>


   <img src="../css/download.jpg"  alt="photo">
   
   <img src="../css/download (1).jpg"  alt="photo">
   <img src="../css/download (2).jpg"  alt="photo">

   <img src="../css/download (3).jpg"  alt="photo">
   <h2>Different Room Types in hotels</h2>
   <b>In hotels the rooms are categorised and priced according to the type of bed, number of occupants, number of bed, decor, specific furnishings or features and nowadays special even the special theme available in the room.
    
    
    Later when assigning the guest room before the arrival of the guest the front desk agent must be aware of guest room characteristics for each room type available in the hotel. Also not to forget any guest specific request or room specific request requested by the guest for eg:- room away from the elevator, King bedded room, twin bedroom, non-smoking room etc.
    
    Following room type definitions are common in the hotel industry:<br><br></b>
    
    1) Single: A room assigned to one person. May have one or more beds.
    
    The room size or area of Single Rooms are generally between 37 m² to 45 m².
    
    Room Type In hotel - Single Room <br><br>
    
    2) Double: A room assigned to two people. May have one or more beds.
    
    The room size or area of Double Rooms are generally between 40 m² to 45 m².
    
    
    Room Type In hotel - Double Room<br><br>
    
    3) Triple: A room that can accommodate three persons and has been fitted with three twin beds, one double bed and one twin bed or two double beds.
    
    The room size or area of Triple Rooms are generally between 45 m² to 65 m².
    
     Room Type In hotel - Triple Room<br><br>
    
    4) Quad: A room assigned to four people. May have two or more beds.
    
    The room size or area of Quad Rooms are generally between 70 m² to 85 m².
    
    
     Room Type In hotel - Quad Room<br><br>
    
    5) Queen: A room with a queen-sized bed. May be occupied by one or more people.
    
    The room size or area of Queen Rooms are generally between 32 m² to 50 m².
    
    Room Type In hotel - Queen Room | Queen Bedded Room in hotel<br><br>
    
    6) King: A room with a king-sized bed. May be occupied by one or more people.
    
    The room size or area of King Rooms are generally between 32 m² to 50 m².<br><br>
    
    
    Room Type In hotel - King Room | King Room Type in hotel <br><br>
    
    7) Twin: A room with two twin beds. May be occupied by one or more people.
    
    The room size or area of Twin Rooms are generally between 32 m² to 40 m².
    
    Room Type In hotel - Twin Room | Twin Bedded room in hotel Sample<br><br>

   </p>

</body>
</html>