<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/view/css/Home.css" >

    
</head>
<body>
    <h1>HOME</h1>
    <p><b>
The Hotel Industry is a fast-paced, high-pressure environment that takes a whole network of workers and departments to keep everything running smoothly. Serving a variety of purposes, hotels have the opportunity to provide customers with a great, memorable experience or be a dark spot on an otherwise great trip.
Hotel managers have the task of ensuring customers are satisfied and overseeing all of the different activities and departments of a hotel:
</p></b>

<i>Banquet Halls
Restaurants
Conference Center



Tourist Attractions
Fitness Center
Spa & Wellness Center</i>


    
</body>
</html>