<!DOCTYPE html>
    <html lang ="en">        
<head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>hotel system</title>
    <link rel="stylesheet" href="/view/css/hotel.css" >
        <script>src="/view/JS/"</script>

    </head>
<body>
    <header>
          <center> <h1> Hotel management system </h1></center>
        </header>
    <hr>
    <div id="image-txt">
           <ul> 
            <li><a href="Home.html">Home</a></li>
             <li><a href="Sign.html">Sign up</a></li>  
                 <li><a href="Contact.html">Contact</a></li>
                 <li><a href="Gallery.html">Gallery</a></li>
          </ul>
       </div>
       <hr>
   <div id="firstbox">
    <p>
       * Management<br><br>
       * system<br><br>
       * Techniques<br><br>
       * profit    <br><br>
       * source   <br><br>
    </p>
     <img src="AdobeStock_104135850.jpeg"  alt="photo">
     <img src="1.jpg" alt="photo">
    
</div>
<div id="seconbox">
<p2>
    The hotel management system is meant for the hotel for effective use of resourses.<br><br>
    Some of the features are:<br><br>
    a.Front office<br>
    b.House-keeping<br>
    c.Food&beverage<br>
    d.Banqueting<br>
    e.Material management & Disteribution <br>
    f.Marketing&sales <br>
    g.Employee details <br>
        <p2>      
    </div>

</body>
</html>
     

